Source: gr-iio
Section: libs
Priority: optional
Maintainer: Paul Cercueil <paul.cercueil@analog.com>
Uploaders: Paul Cercueil <paul.cercueil@analog.com>
Build-Depends: cmake (>= 2.6), debhelper (>= 9), libiio-dev (>= 0.5), gnuradio-dev, swig2.0
Standards-Version: 3.9.4
Homepage: http://github.com/analogdevicesinc/gr-iio
Vcs-Git: https://github.com/analogdevicesinc/gr-iio

Package: gr-iio
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: IIO blocks for GnuRadio
 Libiio is a library that has been conceived to ease the development of
 applications interfacing Industrial Input/Output (IIO) devices through
 the IIO subsystem of the Linux kernel.
 .
 The IIO blocks for GnuRadio can be used to create flowgraphs that interface
 IIO devices through libiio.
 .
 This package contains the shared library.

Package: gr-iio-dev
Architecture: any
Depends: gr-iio (= ${binary:Version}), ${misc:Depends}
Description: IIO blocks for GnuRadio
 Libiio is a library that has been conceived to ease the development of
 applications interfacing Industrial Input/Output (IIO) devices through
 the IIO subsystem of the Linux kernel.
 .
 The IIO blocks for GnuRadio can be used to create flowgraphs that interface
 IIO devices through libiio.
 .
 This package contains the development files.
